
<html>
    <head>
        <link rel="stylesheet" href="/css/tasks.css">
    </head>

    <body>
        <div class="topcontainer">
            <h1>MY TASKS</h1>
        </div>

        <div class="addcontainer">
            <div class="group">
                <label for="taskName">Task Name</label><br>
                <input type="text" id="taskName" placeholder="Task Name">
            </div>
            <div class="group">
                <label for="taskDescription">Task Description</label><br>
                <input type="text" id="taskDescription" placeholder="Description">
            </div>
            <button id="addButton">Add</button>
        </div>

        <table id="tasksTable">
            <tr>
                <th>TITLE</th>
                <th>DESCRIPTION</th>
                <th></th>
            </tr>
            <% tasks.forEach(task => { %>
                <tr>
                    <td><%= task.taskTitle %></td>
                    <td><%= task.taskDescription %></td>
                    <td><button onclick="deleteTask('<%= task.id %>', this.closest('tr'))">Delete Task</button></td>
                </tr>
            <% }); %>
        </table>
    </body>

    <script>
        async function deleteTask(id, row) {
            try {
                const deleteRes = await fetch(`/tasks/delete/${id}`, {
                    method: "DELETE",
                });

                if (deleteRes.ok) {
                    row.remove();
                }
            } catch (error) {
                console.error("Error deleting task:", error);
            }
        }

        const button = document.getElementById("addButton");
        button.addEventListener("click", async () => {
            const taskTitle = document.getElementById("taskName").value.trim();
            const taskDesc = document.getElementById("taskDescription").value.trim();

            const data = { taskTitle, taskDesc }

            try {
                const res = await fetch("/tasks/add", {
                    method: "POST",
                    headers: { "Content-Type": "application/json" },
                    body: JSON.stringify(data)
                });

                const result = await res.json();
                
                if (res.ok) {
                    const table = document.getElementById("tasksTable");
                    const row = document.createElement("tr");
                    const nameCell = document.createElement("td");
                    const descCell = document.createElement("td");
                    const buttonCell = document.createElement("td");
                    const removeButton = document.createElement("button");
                    removeButton.textContent = "Delete"

                    removeButton.addEventListener("click", function() {
                        deleteTask(result.id, row);
                    });


                    nameCell.textContent = taskTitle;
                    descCell.textContent = taskDesc;

                    buttonCell.appendChild(removeButton);
                    row.appendChild(nameCell);
                    row.appendChild(descCell);
                    row.appendChild(buttonCell);
                    table.appendChild(row);
                } else {
                    console.log(result.error);
                };
            } catch (error) {
                console.error(error);
            }
        })
    </script>
</html>